<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Designsninja">
<!-- description -->
<meta name="description" content="Nigo Creative Agency html template for business">
<!-- keywords -->
<meta name="keywords" content="creative, fullscreen, business, photography, portfolio, one page, bootstrap responsive, start-up, ui/ux, html5, css3, studio, branding, creative design, multipurpose, parallax, personal, masonry, grid, coming soon, carousel, career">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Page Not Found - 404 Error</title>
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- Core Style Sheets -->
<link rel="stylesheet" href="assets/css/master.css">
<!-- Responsive Style Sheets -->
<link rel="stylesheet" href="assets/css/responsive.css">
<!-- Revolution Style Sheets -->
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">

<!-- Revolution Layers Style Sheet -->
<style>.blurslider-gradient{background:-webkit-linear-gradient(left,#a8f463 0%,#00a2ff 50%,#00a2ff 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent}.blurslider-button{background:-webkit-linear-gradient(left,#a8f463 0%,#00a2ff 50%,#00a2ff 100%)}</style>

</head>
<body>

<!--== Loader Start ==-->
<div id="loader-overlay">
  <div class="loader">
    <img src="assets/images/loader.svg" width="80" alt="">
  </div>
</div>
<!--== Loader End ==-->

<!--== Wrapper Start ==-->
<div class="wrapper">

  <!--== Header Start ==-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent dark bootsnav on no-full">
  	<!--== Start Top Search ==-->
    <div class="fullscreen-search-overlay" id="search-overlay"> <a href="#" class="fullscreen-close" id="fullscreen-close-button"><i class="icofont icofont-close"></i></a>
      <div id="fullscreen-search-wrapper">
        <form method="get" id="fullscreen-searchform">
          <input type="text" value="" placeholder="Type and hit Enter..." id="fullscreen-search-input" class="search-bar-top">
          <i class="fullscreen-search-icon icofont icofont-search">
          <input value="" type="submit">
          </i>
        </form>
      </div>
    </div>
    <!--== End Top Search ==-->
    <div class="container">
      <!--== Start Atribute Navigation ==-->
      <div class="attr-nav hidden-xs sm-display-none">
        <ul>
          <li class="search"><a href="#" id="search-button"><i class="icofont icofont-search"></i></a></li>
        </ul>
      </div>
      <!--== End Atribute Navigation ==-->

      <!--== Start Header Navigation ==-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="tr-icon ion-android-menu"></i> </button>
        <div class="logo"> <a href="index.html"> <img class="logo logo-display" src="assets/images/logo-black.png" alt=""> <img class="logo logo-scrolled" src="assets/images/logo-black.png" alt=""> </a> </div>
      </div>
      <!--== End Header Navigation ==-->

      <!--== Collect the nav links, forms, and other content for toggling ==-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-center" data-in="fadeIn" data-out="fadeOut">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Concepts</a>
            <ul class="dropdown-menu">
              <li>
                <a href="home-main.html">Main Demo</a>
              </li>
              <li>
                <a href="home-image-bg.html">Home Image Background</a>
              </li>
              <li>
                <a href="home-video-bg.html">Home Video Background</a>
              </li>
              <li>
                <a href="home-kenburn.html">Home Kenburn</a>
              </li>
              <li>
                <a href="home-studio.html">Home Studio</a>
              </li>
              <li>
                <a href="home-startup.html">Home Startup</a>
              </li>
              <li>
                <a href="home-digital.html">Home Digital</a>
              </li>
              <li>
                <a href="home-creative-agency.html">Home Creative Agency</a>
              </li>
              <li>
                <a href="home-marketing.html">Home Marketing</a>
              </li>
              <li>
                <a href="home-parallax.html">Home Parallax</a>
              </li>
              <li>
                <a href="home-media-agency.html">Home Media Agency</a>
              </li>
              <li>
                <a href="home-corporate.html">Home Corporate</a>
              </li>
            </ul>
          </li>
          <li><a class="page-scroll" href="home-main.html#feature">Features</a></li>
          <li><a class="page-scroll" href="home-main.html#portfolio">Portfolio</a></li>
          <li><a class="page-scroll" href="home-main.html#about">About</a></li>
          <li><a class="page-scroll" href="home-main.html#team">Team</a></li>
          <li><a class="page-scroll" href="home-main.html#pricing">Pricing</a></li>
          <li><a class="page-scroll" href="home-main.html#contact">Contact</a></li>
        </ul>
      </div>
      <!--== /.navbar-collapse ==-->
    </div>

  </nav>
 <!--== Header End ==-->

 <!--== Maintenance Start ==-->
  <div class="remove-padding transition-none">
    <div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="particle-effect-three6" data-source="gallery" style="background:#ffffff;padding:0px;">
		<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
			<div id="rev_slider_8_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
		<ul>	<!-- SLIDE  -->
			<li data-index="rs-16" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Example One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="assets/images/transparent.png" data-bgcolor='#ffffff' style='background:#ffffff' alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina/>
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption  "
					 id="slide-16-layer-15"
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-width="full-proportional"
					data-height="full-proportional"
					data-whitespace="nowrap"

					data-type="image"
					data-basealign="slide"
					data-responsive_offset="off"
					data-responsive="off"
					data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					data-blendmode="overlay"

					style="z-index: 5;"><img src="assets/images/blurbg7.jpg" alt="" data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']" data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']" width="1920" height="1080" data-no-retina> </div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption   tp-resizeme  blurslider-gradient"
					 id="slide-16-layer-6"
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['-110','-110','-130','-130']"
					data-fontsize="['60','60','40','40']"
					data-lineheight="['80','80','60','60']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="text"
					data-responsive_offset="on"
					data-wrapper_class="tp-nopointer"

					data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"sX:2;sY:3;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 700; color: rgba(4,37,60,1);font-family: 'Roboto', sans-serif;letter-spacing:10px;">404 PAGE<br>ERROR!</div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption   tp-resizeme"
					 id="slide-16-layer-8"
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['30','30','0','0']"
					data-width="['460','461','360','330']"
					data-height="none"
					data-whitespace="normal"

					data-type="text"
					data-responsive_offset="on"
					data-wrapper_class="tp-nopointer"

					data-frames='[{"delay":700,"speed":1000,"frame":"0","from":"y:20px;sX:2;sY:3;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 7; min-width: 460px; max-width: 460px; white-space: normal; font-size: 15px; line-height: 25px; font-weight: 400; color: rgba(4,37,60,1);font-family: 'Roboto', sans-serif;letter-spacing:10px;">THE PAGE YOU ARE LOOKING FOR DOESN'T EXIST.</div>

				<!-- LAYER NR. 4 -->
				<a class="tp-caption rev-btn  tp-resizeme  blurslider-button"
		 href="index.html" 		 id="slide-16-layer-17"
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['140','140','110','110']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="button"
					data-actions=''
					data-responsive_offset="on"

					data-frames='[{"delay":900,"speed":1000,"frame":"0","from":"y:100px;sX:2;sY:3;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255,255,255,1);"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[35,35,35,35]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[35,35,35,35]"
					data-blendmode="multiply"

					style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1);font-family: 'Roboto', sans-serif;background-color:rgba(4,37,60,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:3px;cursor:pointer;text-decoration: none;">BACK TO HOME </a>
			</li>
		</ul>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
		</div>
  </div>
  <!--== Maintenance End ==-->

  <!--== Footer Start ==-->
  <footer class="footer grey-bg">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="widget widget-text">
              <div class="logo-footer"><a href="index.html"> <img class="img-responsive" src="assets/images/logo-footer-dark.png" alt=""></a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
              <h5 class="widget-title">Social Media</h5>
              <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Google Plus</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Envato Market</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
              <h5 class="widget-title">Quick Links</h5>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="widget widget-text widget-links">
              <h5 class="widget-title">Contact Us</h5>
              <ul>
                <li> <i class="icofont icofont-social-google-map"></i> 44 Shirley Ave. West Chicago, IL 60185</li>
                <li> <i class="icofont icofont-smart-phone"></i> (001) 7878 234 564</li>
                <li> <i class="icofont icofont-email"></i> <a href="#">hellonigo@gmail.com</a> </li>
                <li> <i class="icofont icofont-globe-alt"></i> <a href="#">www.nigo.com</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copy-right text-center">© 2018 Nigo Creative Agency. All rights reserved</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== Footer End ==-->

  <!--== Go to Top  ==-->
  <a href="javascript:" id="return-to-top"><i class="icofont icofont-arrow-up"></i></a>
  <!--== Go to Top End ==-->

</div>
<!--== Wrapper End ==-->

<!--== Javascript Plugins ==-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJNGOwO2hJpJ9kz8e0UUPjZhEbgDJTTXE"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/smoothscroll.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/master.js"></script>

<!-- Particles add on Files -->
<link rel='stylesheet' href='revolution/css/revolution.addon.particles.css?ver=1.0.3' type='text/css' media='all' />
<script src='revolution/js/revolution.addon.particles.min.js?ver=1.0.3'></script>

<script>

  var tpj=jQuery;
  var revapi8;
  tpj(document).ready(function() {
    if(tpj("#rev_slider_8_1").revolution == undefined){
      revslider_showDoubleJqueryError("#rev_slider_8_1");
    }else{
      revapi8 = tpj("#rev_slider_8_1").show().revolution({
        sliderType:"hero",
        jsFileLocation:"revolution/js/",
        sliderLayout:"fullscreen",
        dottedOverlay:"none",
        delay:9000,
        particles: {startSlide: "first", endSlide: "last", zIndex: "1",
          particles: {
            number: {value: 300}, color: {value: "#000000"},
            shape: {
              type: "circle", stroke: {width: 0, color: "#ffffff", opacity: 1},
              image: {src: ""}
            },
            opacity: {value: 0.1, random: false, min: 0.25, anim: {enable: false, speed: 1, opacity_min: 0, sync: false}},
            size: {value: 1, random: true, min: 0.5, anim: {enable: false, speed: 40, size_min: 1, sync: false}},
            line_linked: {enable: true, distance: 80, color: "#000000", opacity: 0.35, width: 1},
            move: {enable: true, speed: 1, direction: "right", random: true, min_speed: 3, straight: false, out_mode: "out"}},
          interactivity: {
            events: {onhover: {enable: true, mode: "repulse"}, onclick: {enable: true, mode: "bubble"}},
            modes: {grab: {distance: 400, line_linked: {opacity: 0.5}}, bubble: {distance: 400, size: 100, opacity: 1}, repulse: {distance: 75}}
          }
        },
        navigation: {
        },
        responsiveLevels:[1240,1024,778,480],
        visibilityLevels:[1240,1024,778,480],
        gridwidth:[1240,1024,778,480],
        gridheight:[868,768,960,720],
        lazyType:"none",
        parallax: {
          type:"scroll",
          origo:"slidercenter",
          speed:400,
          levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,0,55],
        },
        shadow:0,
        spinner:"spinner0",
        autoHeight:"off",
        fullScreenAutoWidth:"off",
        fullScreenAlignForce:"off",
        fullScreenOffsetContainer: "",
        fullScreenOffset: "60px",
        disableProgressBar:"on",
        hideThumbsOnMobile:"off",
        hideSliderAtLimit:0,
        hideCaptionAtLimit:0,
        hideAllCaptionAtLilmit:0,
        debugMode:false,
        fallbacks: {
          simplifyAll:"off",
          disableFocusListener:false,
        }
      });
    }

            RsParticlesAddOn(revapi8);
  });	/*ready*/
</script>

<!-- Revolution js Files -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="revolution/js/revolution.extension.actions.min.js"></script>
<script src="revolution/js/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/revolution.extension.migration.min.js"></script>
<script src="revolution/js/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/revolution.extension.video.min.js"></script>
<!--== Javascript Plugins End ==-->

</body>
</html>
