<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Designsninja">
<!-- description -->
<meta name="description" content="Nigo Creative Agency html template for business">
<!-- keywords -->
<meta name="keywords" content="creative, fullscreen, business, photography, portfolio, one page, bootstrap responsive, start-up, ui/ux, html5, css3, studio, branding, creative design, multipurpose, parallax, personal, masonry, grid, coming soon, carousel, career">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Nigo Creative Agency html template for business</title>
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- Core Style Sheets -->
<link rel="stylesheet" href="assets/css/master.css">
<!-- Responsive Style Sheets -->
<link rel="stylesheet" href="assets/css/responsive.css">
<!-- Revolution Style Sheets -->
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">

</head>
<body>

<!--== Loader Start ==-->
<div id="loader-overlay">
  <div class="loader">
    <img src="assets/images/loader.svg" width="80" alt="">
  </div>
</div>
<!--== Loader End ==-->

<!--== Wrapper Start ==-->
<div class="wrapper">
  <!--== Hero Slider Start ==-->
  <section class="parallax-bg fixed-bg lg-screen lg-section" data-parallax-bg-image="assets/images/slides/home-bg-17.jpg" data-parallax-speed="0.5" data-parallax-direction="up" id="home">
      <div class="hero-text-wrap lg-screen transparent-bg">
        <div class="hero-text">
          <div class="container">
            <div class="row">
              <div class="col-md-12 centerize-col">
                <div class="all-padding-50 text-center white-color">
                    <h1>Nigo Studio</h1>
                    <h2 class="font-100 play-font">Parallax One Page Template</h2>
                    <h4 class="font-300">Based on Bootstrap Responsive HTML5 and <br>One page Minimal Template</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!--== Hero Slider End ==-->

  <!--== Choose Templates Start ==-->
  <section class="grey-bg pb-80">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-title">
            <h2 class="play-font">Main Demos</h2>
            <h1 class="roboto-font text-uppercase">Choose the template</h1>
            <hr class="center_line dark-bg">
          </div>
        </div>
      </div>
      <div class="row mt-50">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-1.jpg" class="img-responsive" alt="demo1" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Main Home</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-main.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-2.jpg" class="img-responsive" alt="demo2" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Home Image BG</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-image-bg.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-3.jpg" class="img-responsive" alt="demo3" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Home Video BG</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-video-bg.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-4.jpg" class="img-responsive" alt="demo4" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Home Kenburn</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-kenburn.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-5.jpg" class="img-responsive" alt="demo5" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Home Studio</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-studio.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-6.jpg" class="img-responsive" alt="demo6" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Home Startup</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-startup.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-7.jpg" class="img-responsive" alt="demo7" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Home Digital</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-digital.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-8.jpg" class="img-responsive" alt="demo8" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Home Creative Agency</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-creative-agency.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-9.jpg" class="img-responsive" alt="demo9" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Home Marketing</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-marketing.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-10.jpg" class="img-responsive" alt="demo10" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Parallax</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-parallax.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-11.jpg" class="img-responsive" alt="demo11" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Media Agency</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-media-agency.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-dark-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-12.jpg" class="img-responsive" alt="demo12" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Corporate</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-corporate.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== Choose Templates End ==-->

  <!--== Choose Templates Start ==-->
  <section class="dark-bg pb-80">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-title white-color">
            <h2 class="play-font">Inner Pages</h2>
            <h1 class="roboto-font text-uppercase">Creative Elememts</h1>
            <hr class="center_line white-bg">
          </div>
        </div>
      </div>
      <div class="row mt-50">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-black-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-13.jpg" class="img-responsive" alt="demo13" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Blog</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-blog.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-black-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-14.jpg" class="img-responsive" alt="demo14" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Blog Details</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-blog-details.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-black-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-15.jpg" class="img-responsive" alt="demo15" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Counters</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-counters.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-black-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-16.jpg" class="img-responsive" alt="demo16" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Countdown</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-countdown.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-black-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-17.jpg" class="img-responsive" alt="demo17" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Testimonials</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-testimonials.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-black-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-18.jpg" class="img-responsive" alt="demo18" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Pricings</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-pricings.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-black-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-19.jpg" class="img-responsive" alt="demo19" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">404 Page</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-404-page.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-black-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-20.jpg" class="img-responsive" alt="demo20" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Coming Soon</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-coming-soon.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="product">
            <div class="product-wrap border-black-15 border-radius-20 box-shadow">
              <img src="assets/images/demo-imgs/demo-21.jpg" class="img-responsive" alt="demo21" />
              <div class="product-caption">
                <div class="product-description text-center">
                  <div class="product-description-wrap">
                    <div class="product-title">
                      <h2 class="play-font">Portfolio</h2>
                    </div>
                    <div class="product-subtitle mt-20">
                      <a href="home-portfolio.html" class="btn-amazing btn btn-lg btn-square" target="_blank">Live Preview<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!--== Choose Templates End ==-->

  <!--== Video Start ==-->
  <section class="parallax-bg fixed-bg" data-parallax-bg-image="assets/images/background/parallax-bg.jpg" data-parallax-speed="0.5" data-parallax-direction="up">
  	<div class="overlay-bg"></div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-8 text-center parallax-content height-400px centerize-col">
  				<div class="center-layout">
                <div class="v-align-middle">
      					   <h1 class="font-400 white-color play-font">Where something special happens every day</h1>
                </div>
              </div>
  			</div>
  		</div>
  	</div>
  </section>
  <!--== Video End ==-->


  <!--== Footer Start ==-->
  <footer class="footer">
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="copy-right text-left">Designed and Develop by Designsninja</div>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul class="social-media">
              <li><a href="#" class="icofont icofont-social-facebook"></a></li>
      			  <li><a href="#" class="icofont icofont-social-twitter"></a></li>
      			  <li><a href="#" class="icofont icofont-social-behance"></a></li>
      			  <li><a href="#" class="icofont icofont-social-dribble"></a></li>
              <li><a href="#" class="icofont icofont-social-linkedin"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== Footer End ==-->

  <!--== Go to Top  ==-->
  <a href="javascript:" id="return-to-top"><i class="icofont icofont-arrow-up"></i></a>
  <!--== Go to Top End ==-->

</div>
<!--== Wrapper End ==-->

<!--== Javascript Plugins ==-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/smoothscroll.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/master.js"></script>

<!-- Revolution js Files -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="revolution/js/revolution.extension.actions.min.js"></script>
<script src="revolution/js/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/revolution.extension.migration.min.js"></script>
<script src="revolution/js/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/revolution.extension.video.min.js"></script>
<!--== Javascript Plugins End ==-->

</body>
</html>
